@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

label, h1 {
  @apply dark:text-white
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
 
  body {
    color: black;
    background: rgb(232, 245, 249);
  }
}

.card{
  @apply mb-5 block rounded-lg border-gray-200 shadow-md
}



.cartButton{
  @apply bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500
}

.defaultButton{
  @apply bg-gray-100 py-2 px-4 shadow outline-none text-black hover:bg-gray-200 active:bg-gray-300
}

input,
textarea {
  @apply bg-white rounded border p-2 outline-none ring-indigo-400 focus:ring
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200
}